* {box-sizing:border-box
  
  }


.slideshow-container {
  position: relative;
  
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: purple;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  align-items: center;
  justify-content: center;
}



.fade {
  animation-name: fade;
  animation-duration: 100000s;
   width: auto;
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

.card-text{
  text-align:center;
 
}
.card-title{
  text-decoration: underline;
}

h1{
  text-align:center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}
.header{
margin-top: 10px;
 width: 100%;
 text-align: center;
 border-style: ridge;
  border: 0;
  font-size:20px;
  letter-spacing: 4px;
  opacity: 0.9;
  padding: 0px 0px 0px;
}

.image-intro{
  width:250px;
  padding-top: 5px;
}

.text-muted{
font-size: 20px;
}

footer{
  float: center;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}
.tableau{
  padding: 10px 10px 10px;
}

small{
  font-size: 15px;
}

#scroll_to_top {
  position: fluid;
  width: 25px;
  height: 25px;
  bottom: 50px;
  left: 30px;
}


@media only screen and (max-width: 500px) {
  .columns {
    width: 100%;
  }
}