*{
  background-color: #27272b;
  color: white;
}

.card-text{
  text-align:center;
}

.header{
margin-top: 10px;
 width: 100%;
 text-align: center;
 border-style: ridge;
  border: 0;
  font-size: 20px;
  letter-spacing: 4px;
  opacity: 0.9;
  padding : 0px 0px 0px;
}

.icon{
  float: center;
  font-size: 20px;
  text-align: center;
}